@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/*Thanks to CodingNepal for some of the .typing-text css*/
:root {
    --c-bg-body: #262626;
    --c-bg-image: url(res/background.png);
    --c-bg-primary: #2e2e2e;
    --c-bg-secondary: #393939;
    --c-bg-tertiary: #262626;
    --c-border-radius: 25px;
    --c-text-color: #fff;
    --c-text-mistake: rgb(239, 60, 60);
    --c-text-correct: rgb(211, 147, 113);
    --c-text-highlight: rgb(221, 204, 170);
    --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    --c-border-top: 1px solid #bfbfbf
}
    :root.BoW {
        --c-bg-body: #f5f5f5;
        --c-bg-image: url(res/background.png);
        --c-bg-primary: #e0e0de;
        --c-bg-secondary: #c1c1c1;
        --c-bg-tertiary: #aeacac;
        --c-border-radius: 25px;
        --c-text-color: #000;
        --c-text-mistake: rgb(239, 60, 60);
        --c-text-correct: rgb(211, 147, 113);
        --c-text-highlight: rgb(221, 204, 170);
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
        --c-border-top: 1px solid #bfbfbf
    }
    :root.WoB {
        --c-bg-body: #262626;
        --c-bg-image: url(res/background.png);
        --c-bg-primary: #2e2e2e;
        --c-bg-secondary: #393939;
        --c-bg-tertiary: #262626;
        --c-border-radius: 25px;
        --c-text-color: #fff;
        --c-text-mistake: rgb(239, 60, 60);
        --c-text-correct: rgb(211, 147, 113);
        --c-text-highlight: rgb(221, 204, 170);
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
        --c-border-top: 1px solid #bfbfbf
    }
    :root.Handarbarf {
        --c-bg-body: #606060;
        --c-bg-image: url(res/background.png);
        --c-bg-primary: rgb(150, 37, 18);
        --c-bg-secondary: rgb(129, 97, 2);
        --c-bg-tertiary: rgb(90, 46, 123);
        --c-border-radius: 25px;
        --c-text-color: #fff;
        --c-text-mistake: rgb(248, 129, 57);
        --c-text-correct: rgb(152, 217, 82);
        --c-text-highlight: #faa1a1;
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
        --c-border-top: 1px solid #bfbfbf
    }
    :root.Camping {
        --c-bg-body: #d1cfbd;
        --c-bg-image: none;
        --c-bg-primary: rgb(201, 199, 180);
        --c-bg-secondary: rgb(181, 179, 156);
        --c-bg-tertiary: rgb(79, 116, 41);
        --c-border-radius: 25px;
        --c-text-color: #000;
        --c-text-mistake: rgb(96, 27, 27);
        --c-text-correct: rgb(79, 116, 41);
        --c-text-highlight: rgb(96, 27, 27);
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }
    :root.Terminal {
        --c-bg-body: #0c0c0c;
        --c-bg-image: none;
        --c-bg-primary: rgb(24, 24, 24);
        --c-bg-secondary: rgb(46, 46, 46);
        --c-bg-tertiary: rgb(32, 32, 32);
        --c-border-radius: 25px;
        --c-text-color: rgb(84, 248, 73);
        --c-text-mistake: rgb(239, 60, 60);
        --c-text-correct: #fff;
        --c-text-highlight: rgb(84, 248, 73);
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }
    :root.Monokai {
        --c-bg-body: #23272c;
        --c-bg-image: none;
        --c-bg-primary: #2b3036;
        --c-bg-secondary: #333a42;
        --c-bg-tertiary: #23272c;
        --c-border-radius: 25px;
        --c-text-color: #fff;
        --c-text-mistake: rgb(218, 60, 145);
        --c-text-correct: rgb(73, 215, 182);
        --c-text-highlight: rgb(73, 215, 182);
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }
    :root.Boomas {
        --c-bg-body: #194813;
        --c-bg-image: none;
        --c-bg-primary: rgb(53, 53, 53);
        --c-bg-secondary: rgb(46, 46, 46);
        --c-bg-tertiary: #082404;
        --c-border-radius: 25px;
        --c-text-color: rgb(182, 182, 182);
        --c-text-mistake: #082404;
        --c-text-correct: #000;
        --c-text-highlight: #000;
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    }
    :root.Samurai {
        --c-bg-body: rgb(78, 23, 23);
        --c-bg-image: none;
        --c-bg-primary: rgb(34, 34, 34);
        --c-bg-secondary: rgb(29, 29, 29);
        --c-bg-tertiary: rgb(142, 114, 21);
        --c-border-radius: 25px;
        --c-text-color: rgb(234, 234, 234);
        --c-text-mistake: #891313;
        --c-text-correct: rgb(142, 114, 21);
        --c-text-highlight: #891313;
        --c-box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    } * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--c-text-color);
} body {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    min-height: 100vh;
    background-color: var(--c-bg-body);
    background-image: var(--c-bg-image);
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;
} .body-title {
    font-size: 25px;
    font-weight: 200;
    color: var(--c-text-color);
    text-align: center;
    padding: 10px;
    top: 10%;
    left: 50%;
    margin: auto;
} .upper {
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} ::selection {
    color: var(--c-text-highlight);
    background: var(--c-text-color);
} .parent {
    position: relative;
    top: 0;
    justify-items: center;
} .image1 {
    position: relative;
    background-position: top center;
} .wrapper {
    width: 770px;
    padding: 35px;
    background: var(--c-bg-primary);
    border-radius: var(--c-border-radius);
    box-shadow: var(--c-box-shadow);
    transition: background-color 0.50s ease;
} .wrapper .input-field {
        opacity: 0;
        z-index: -999;
        position: absolute;
    } .wrapper .content-box {
        padding: 13px 20px 0;
        border-radius: var(--c-border-radius);
    } .content-box .typing-text {
    overflow: hidden;
    max-height: 256px;
    color: var(--c-text-highlight);
} .typing-text::-webkit-scrollbar {
    width: 0;
} .typing-text p {
    font-size: 23px;
    text-align: justify;
    letter-spacing: 1px;
    word-break: break-word;
    word-spacing: 1px;
    color: var(--c-text-highlight);
} .typing-text p span {
        position: relative;
    } .typing-text p span.correct {
            color: var(--c-text-correct);
        } .typing-text p span.incorrect {
            color: var(--c-text-mistake)
        } .typing-text p span.active::before {
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 0;
                opacity: 0;
                border-radius: 5px;
                background: var(--c-text-highlight);
                animation: blink 2s forwards infinite;
            } @keyframes blink {
    50% {
        opacity: 1;
    }
} .content-box .content {
    margin-top: 17px;
    display: flex;
    padding: 12px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-top: var(--c-border-top);
}
.content button {
    outline: none;
    border: none;
    width: 105px;
    height: auto;
    color: var(--c-text-color);
    padding: 8px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: var(--c-border-radius);
    background: var(--c-bg-secondary);
    transition: transform 0.15s ease, background-color 0.15s ease;
    text-align: center;
} .content button:hover {
        background: var(--c-bg-tertiary);
        transform: scale(1.05);
    } .content button:active {
        transform: scale(0.90);
    } .content .result-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: calc(100% - 140px);
    justify-content: space-between;
} .result-details li {
    display: flex;
    height: 20px;
    list-style: none;
    position: relative;
    align-items: center;
} .result-details .icon {
        display: table;
        margin: 0 auto;
        transform: scale(1.25);
        padding: 0px 0px 0;
    } .result-details li:not(:first-child) {
    padding-left: 22px;
    border-left: var(--c-border-top);
} .result-details li p {
        font-size: 19px;
    } .result-details li span {
        display: block;
        font-size: 20px;
        margin-left: 10px;
    } li span b {
    font-weight: 500;
} li:not(:first-child) span {
    font-weight: 500;
} @media (max-width: 745px) {
    .wrapper {
        padding: 20px;
    }

    .content-box .content {
        padding: 20px 0;
    }

    .content-box .typing-text {
        max-height: 100%;
    }

    .typing-text p {
        font-size: 19px;
        text-align: left;
    }

    .content button {
        width: 100%;
        font-size: 15px;
        padding: 10px 0;
        margin-top: 20px;
    }

    .content .result-details {
        width: 100%;
    }

    .result-details li:not(:first-child) {
        border-left: 0;
        padding: 0;
    }

    .result-details li p,
    .result-details li span {
        font-size: 17px;
    }
} @media (max-width: 518px) {
    .wrapper .content-box {
        padding: 10px 15px 0;
    }

    .typing-text p {
        font-size: 18px;
    }

    .result-details li {
        margin-bottom: 10px;
    }

    .content button {
        margin-top: 10px;
    }
} .lower {
    display: block;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
} .settings-wrapper {
    display: flex;
    position: ABSOLUTE;
    align-items: center;
    justify-self: center;
    width: auto;
    height: auto;
    padding: 10px;
    top: 85%;
    left: 45%;
    background: var(--c-bg-primary);
    border-radius: var(--c-border-radius);
    box-shadow: var(--c-box-shadow);
    justify-content: center;
    transition: background-color 0.50s ease;
    
}
    .settings-wrapper .icon {
        display: table;
        padding: 0px 5px 5px;
        transform: scale(1.25);
    }
    .settings-wrapper .settings-button {
        text-decoration: none;
        display: flex;
        outline: none;
        border: none;
        width: auto;
        height: auto;
        color: var(--c-text-color);
        padding: 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: var(--c-border-radius);
        background: var(--c-bg-secondary);
        transition: transform 0.15s ease, background-color 0.50s ease;
        text-align: center;
    } .settings-wrapper .settings-button:hover {
            background: var(--c-bg-tertiary);
            transform: scale(1.05);
        } .settings-wrapper .settings-button:active {
            transform: scale(0.90)
        }
    .settings-wrapper .themes-button {
        display: flex;
        outline: none;
        border: none;
        width: auto;
        height: auto;
        color: var(--c-text-color);
        padding: 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: var(--c-border-radius);
        background: var(--c-bg-secondary);
        transition: transform 0.15s ease, background-color 0.50s ease;
        ;
        text-align: center;
    } .settings-wrapper .themes-button:hover {
            background: var(--c-bg-tertiary);
            transform: scale(1.05);
        } .settings-wrapper .themes-button:active {
            transform: scale(0.90)
        } .menu-wrapper {
    display: none;
    width: 90%;
    margin: auto;
    max-width: 500px;
    padding: 20px 20px;
    justify-self: center;
    background: var(--c-bg-primary);
    border-radius: var(--c-border-radius);
    box-shadow: var(--c-box-shadow);
    transition: background-color 0.50s ease, transform 0.15s ease;
    text-align: center;
    top: 30%;
} .menu-wrapper .themes-title {
         font-weight: 500;
         font-size: 25px;
         color: var(--c-text-color);
         padding: 10px 0px;
  } .menu-wrapper .themes-switcher input {
        display: none;
    } .menu-wrapper .themes-switcher {
        position: relative;
        background: var(--c-bg-secondary);
        border-radius: var(--c-border-radius);
        padding: 10px ;
        margin-bottom: 20px;
        display: grid;
        gap: 2px;
        grid-template-columns: repeat(3, 1fr);
    } .menu-wrapper .themes-switcher label > lavel {
        position: relative;
        z-index: 2;
        width: calc(100% / 3);
        color: var(--c-text-color);
    }
        .menu-wrapper .themes-switcher label span {
            padding: 8px 0;
            display: block;
            justify-content: center;
            font-weight: 300;
            border-radius: var(--c-border-radius);
            transition: transform 0.15s ease, background-color 0.15s ease;
        } .menu-wrapper .themes-switcher label span:hover {
        cursor: pointer;
        background: var(--c-bg-tertiary);
        transform: scale(1.05);
    } .menu-wrapper .themes-switcher label span:active {
        transform: scale(0.90);
    } .menu-body {
    padding: 20px;
    border-top: var(--c-border-top);
} .menu-body a {
    text-decoration: none;
    color: inherit;
    display: flex;
    padding: 6px 5px 0;
    margin: 10px;
    border-radius: var(--c-border-radius);
    font-weight: 300;
    transition: transform 0.15s ease, background-color 0.50s ease;
    text-align: center;
    justify-content: center;
} .menu-body a:hover {
        background: var(--c-bg-tertiary);
        transform: scale(1.05);
        cursor: pointer;
    } .menu-body a:active {
    transform: scale(0.90);
} ion-icon {
    display: table;
    margin-right: 5px;
    transform: scale(1.25);
    margin-top: 3px;
}